#header-Img {
	width: 100vw;
	height: 80vh;
	background: black;
	text-align: center;
	background: url('cover.jpg') no-repeat fixed center;
}
#header-Img h1{
	margin-top: 30vh;
}
.header-Txt {
	display: inline-block;
	color: white;
	padding: 5px;
}
.sectionHeader {
	padding: 5px;
	text-align: center;
	display: block;
}
.bar-Top {
	border-top: 1px solid black;
}
.info-Col {
	float: left;
}
#Col-about {
	width: 60vw;
	padding: 1em;
	padding-top: 0;
}
#Col-contact {
	width: 40vw;
	text-align: center;
}
#footer-left {
	float: left;
	dislay: inline-block;
}
#footer-right {
	float: right;
	dislay: inline-block;
}
.project {
	padding: 5px;
}
.project-left {
	background: white;
	float: left;
	width: 70%;
	height: 30vh;
	overflow: scroll;
	padding: 1em;
	color: black;
	border: 1px solid black;
	border-right: 0;
}
.project-right {
	float: left;
	background: #e5e5e5;
	width: 30%;
	height: 30vh;
	overflow: scroll;
	border: 1px solid black;
	padding: 0.75em;
}
.project-right a {
	display: block;
	border-bottom: 1px solid black;
}
#footer {
	background: white;
	width: 100vw;
	padding: 5px;
}
#footer p {
	margin-bottom: 0;
}
#projectBoxs {
	margin: 2.5vw;
}
#footer-space {
	margin-bottom: 40px;
}
@media only screen and (max-width: 992px) {
	.project-right {
		float: none;
		display: block;
		width: 100%;
		border-top: 0;
	}
	.project-left {
		width: 100%;
		border: 1px solid black;
	}
	.info-Col {
		float: none;
		width: 100vw !important;
	}
}
